.Alert {
    margin: 20px auto;
    padding: 15px 20px;
    width: 320px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: left;
    position: relative;
}
.primary {
    background: rgba(0, 0, 255, 0.5);
    border-color: blue;
}
.success {
    background: rgba(50, 205, 50, 0.5);
    border-color: limegreen;
}
.warning {
    background: rgba(255, 255, 0, 0.5);
    border-color: yellow;
}
.danger {
    background: rgba(255, 0, 0, 0.5);
    border-color: red;
}
.btn-dismiss {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0,-50%);
    background: url("../../../img/close.svg") 50% 50% no-repeat;
    border: none;
    font-weight: bold;
    font-size: 0;
    opacity: 0.5;
}