.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: left;
}
.title {
    border-bottom: 1px solid #ccc;
    position: relative;
}
.btn-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../../../img/close.svg") 50% 50% no-repeat;
    border: none;
    font-weight: bold;
    font-size: 0;
    opacity: 0.5;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}